@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 17px;
    color: #222;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}


/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .bars {
    display: none;
}

.gnb {
    display: flex;
    align-items: center;
}

.gnb li a {
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    padding: 0 40px;
}

/* container */

.container {
    width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
}

.container img {
    width: 100%;
}

/* hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 110px 0;
}

.hero .text_box{
    flex: 1;
}

.hero .text_box h4 {
    font-size: 20px;
    font-weight: 700;
}

.hero .text_box h2 {
    margin: 50px 0;
    font-size: 80px;
    font-weight: 700;
}

.hero .text_box p {
    font-size: 17;
    width: 80%;
}


.hero .photo {
    /* flex: 1; */
    width: 500px;
    position: relative;
}

.hero .photo img {
    display: block;
    border-radius: 100%;
    border-top-right-radius: 0;
}

.hero .photo::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 500px;
    height: 500px;
    background-color: #b2ffff;
    z-index: -1;
    border-radius: 100%;
    border-top-right-radius: 0;
}