@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 17px;
    color: #222;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}


/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    position: relative;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    position: relative;
}

.logo::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -5px;
    width: 37px;
    height: 37px;
    background-color: #ccc;
    border-radius: 100%;
    z-index: -1;
}

.header .bars {
    display: none;
    font-size: 32px;
}

.gnb {
    display: flex;
    align-items: center;
}

.gnb li a {
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    padding: 0 40px;
}

.gnb li a:hover {
    color: tomato;
}

.gnb li a span {
    display: block;
    position: relative;
}

.gnb li a span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: tomato;
    width: 0;
    height: 3px;
    transition: all 0.3s;
}

.gnb li a:hover span::after {
    width: 100%;
}

/* container */

.container {
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
}

.container img {
    width: 100%;
}

/* hero */
.hero {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 110px 0;
}

.hero .text_box{
    flex: 1;
}

.hero .text_box h4 {
    font-size: 20px;
    font-weight: 700;
}

.hero .text_box h2 {
    margin: 50px 0;
    font-size: 80px;
    font-weight: 700;
}

.hero .text_box p {
    font-size: 17px;
    width: 80%;
}


.hero .photo {
    /* flex: 1; */
    width: 500px;
    position: relative;
}

.hero .photo img {
    display: block;
    border-radius: 100%;
    border-top-right-radius: 0;
    width: 100%;
}

.hero .photo::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 500px;
    height: 500px;
    background-color: #b2ffff;
    z-index: -1;
    border-radius: 100%;
    border-top-right-radius: 0;
}


/* skills */

.skills {
    display: flex;
    align-items: center;
}

.skills .item {
    flex: 1;
    text-align: center;
    padding: 138px 50px;
}

.skills .item .shape {
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.skills .item h3 {
    font-size: 27px;
    margin: 40px 20px;
    font-weight: 700;
}

.skills .item p {
    font-size: 17px;
}



/* works */

.works {
    padding: 66px 0;
}

.works h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.works ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.works ul li .photo {
    height: 330px;
}

.works ul li .photo img {
    height: 100%;
    object-fit: cover;
}

.works ul li .title {
    margin: 20px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.works ul li .title h3 {
    font-size: 20px;
    font-weight: 700;
}

.works ul li .title p {
    font-size: 17px;
}



/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .header .bars {
        display: block;
        position: fixed;
        top: 16px;
        right: 20px;
        font-size: 32px;
        z-index: 1;
    }

    .gnb {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 100%;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        padding-top: 120px;
        transition: all 0.5s;
    }

    .gnb.active {
        left: 0%;
    }
    
    .gnb li a {
        height: 100px;
        line-height: 100px;
        padding: 0 60px;
        font-size: 24px;
    }
    
    
    /* hero */
    .hero {
        padding: 0;
        flex-direction: column-reverse;
        gap: 44px;
        text-align: center;
        margin-bottom: 60px;
    }

    .hero .photo {
        width: initial;
        position: initial;
    }

    .hero .photo img {
        border-radius: 0;
    }

    .hero .photo::before {
        display: none;
    }

    .hero .text_box{
        text-align: center;
    }

    .hero .text_box h2 {
        margin: 30px 0;
        font-size: 48px;
    }

    .hero .text_box p {
        font-size: 15px;
        width: 100%;
        padding: 0 20px;
    }

    /* skills */
    .skills {
        flex-wrap: wrap;
    }

    .skills .item {
        padding: 60px 50px;
    }
    
    /* works */
    .works ul {
        grid-template-columns: repeat(1, 1fr);
        gap: 45px;
    }
    
} 